*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #131516;
  color: #d1cdc7;
  min-height: 100vh;
  font-size: 170%;
}

button {
  background: none;
  border: none;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
