.input {
  background-color: transparent !important;
  border-color: #776e62 !important;
  color: #776e62 !important;
  &:autofill {
    background-color: transparent !important;
  }
  &:disabled {
    background-color: #232627 !important;
  }
  &::placeholder {
    color: #776e62 !important;
  }
}
