.product {
  background-color: #181a1b !important;
  color: #c8c3bc !important;
  .product-title {
    font-weight: bold !important;
  }
  .product-text {
    font-size: 1.1rem !important;
  }
  .product-image {
    object-fit: cover !important;
    height: 10rem !important;
  }
}
