.section-products .header {
  margin-bottom: 5rem;
}
.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
}

.section-products .single-product {
  margin-bottom: 26px;
}
