.modal-dark .modal-content {
  background-color: #181a1b !important;
  color: #c8c3bc !important;
  border-color: #82786a !important;
  .modal-header {
    border-color: #82786a !important;
  }
  .modal-footer {
    border-color: #82786a !important;
  }
  input {
    background-color: transparent !important;
    border-color: #82786a !important;
    color: #d1cdc7 !important;
  }
}
